<section>

  <button class="back-button" (click)="goBack()">Atras</button>


<article>
  
    <img
      class="listing-photo"
      [src]="ferrari?.image"
      alt="Exterior photo of {{ ferrari?.name }}"
      crossorigin
    />

    <section class="listing-description">
      <h2 class="listing-heading">{{ ferrari?.name }}</h2>
      <p class="listing-location">{{ ferrari?.description }}, {{ ferrari?.cv }}</p>
    </section>

    <section class="listing-features" *ngIf="ferrari">
      <h2 class="section-heading">Información</h2>
      <ul>
        <!--<li>id: <input type="text" [(ngModel)]="ferrari.id"></li> -->
        
        <li>id: {{ ferrari.id }}</li>
        <li>name: <input type="text" [(ngModel)]="ferrari.name"></li>
        <li>description: <input type="text" [(ngModel)]="ferrari.description"></li>
        <li>cv: <input type="text" [(ngModel)]="ferrari.cv"></li>
        <li>anoSalida: <input type="text" [(ngModel)]="ferrari.anoSalida"></li>
        <li>image: <input type="text" [(ngModel)]="ferrari.image"></li>
        <li>pujaInicial: <input type="text" [(ngModel)]="ferrari.pujaInicial"></li>
        <li>precioEstimado: <input type="text" [(ngModel)]="ferrari.precioEstimado"></li>
      </ul>
    </section>
  
    <button class="actualizar-button" (click)="actualizarObjeto()">Actualizar</button>
    <button class="eliminar-button" (click)="eliminarObjeto()">Eliminar</button>
  </article>
</section>